@import 'variables.scss';

.header-app{
  position:fixed;
  height:40px;
  width:100%;
  z-index:9;
  background:transparent;
  transition: all .4s ease-in-out;
}

.show-header{
    background:$black;
}

$base-duration: 500ms;

header {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 0;

	h1 {
		position: absolute;
		bottom: -36px;
		left: 6px;
		color: white;
		font-size: 48px;
		font-weight: 100;
		text-transform: uppercase;
    z-index: 9;
	}

	.mountains {
		position: absolute;
		display: block;
		width: 100%;
		height: 100vh;
		z-index: 0;

		.one, .two, .three, .four, .five {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-position: bottom center;
			background-repeat: no-repeat;
			background-size: 105%;
		}

		.one {
			background-image: url('./../assets/mountains-1.svg');
			z-index: 0;
		}

		.two {
			background-image: url('./../assets/mountains-2.svg');
			z-index: -1;
		}

		.three {
			background-image: url('./../assets/mountains-3.svg');
			z-index: -2;
		}
		.four {
			background-image: url('./../assets/mountains-4.svg');
			z-index: -3;
		}

		.five {
			background-image: url('./../assets/mountains-5.svg');
			z-index: -4;
		}
	}
}
