@import 'variables.scss';

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel {
  .item {
    position: relative;
     z-index: 100;
     width: 100%;
     -webkit-backface-visibility: hidden;
  }
}

.owl-stage-outer {
  height: 350px!important;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.owl-dots {
  margin: 20px;
  .owl-dot {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin: 0 4px!important;
    outline: none;
    height: 0;
    padding: 1px 20px;
    border: 0;
    background: $color;
  }
  .active {
    background: $primary;
  }
}

#instagram-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 5%;

  .active{
    width: auto!important;
  }

  .item {
    cursor: pointer;
    background: #000;
    position: relative;
    height: 350px;

    .instagram-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }

    .instagram-action {
      display: flex;
      opacity: 0;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 18px;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      font-weight: bold;

      .instagram-likes {
        color: $white;
        margin: 8px;
        margin-right: 32px;
      }

      .instagram-comments {
        color: $white;
      }
    }

    img {
      object-fit: cover;
      display: inline-block;
      width: 350px;
      height: 100%;
      opacity: 1;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    &:hover {
      .instagram-action {
        opacity: 1;
      }
      img, video {
        opacity: .2;
      }
    }
  }
}
