@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  height: 200vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

textarea {
  resize: none; }

.home {
  position: relative;
  width: 100hv;
  height: 100vh;
  background: url(".././assets/blur.jpg") no-repeat;
  background-size: cover; }
  .home__image {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -150px;
    background: url("https://avatars0.githubusercontent.com/u/11232570?v=3&u=6e3c4117498be10c0eb2d6e5638678d06bf6cd28");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .8s;
    border: 5px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .home__image:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

.skills {
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .skills .skill {
    margin: 10px;
    padding: 5px;
    border: solid 1px #47ddbc;
    transition: all .2s ease-in-out;
    cursor: default;
    color: #47ddbc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .skills .skill:hover {
      color: #fff;
      background: #47ddbc; }

@media (max-width: 600px) {
  .skills {
    display: inherit; }
    .skills .skill {
      text-align: center; } }
.top-button {
  position: absolute;
  bottom: 0px;
  margin: 5px;
  color: #381236;
  font-size: 56px;
  outline: none;
  border: 0;
  padding: 0 15px;
  right: 10px;
  background: transparent;
  transition: all .2s ease-in-out; }
  .top-button:hover {
    color: #fff; }

#header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
  overflow: hidden; }
  #header .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(".././assets/bg.gif") center;
    background-size: cover; }
  #header .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: table; }
    #header .title h1 {
      display: table-cell;
      vertical-align: middle; }

nav {
  display: none; }

.profile {
  color: #fff;
  position: absolute;
  margin: 10px;
  margin-top: 40px;
  width: 100%;
  height: 100vh; }
  .profile__name {
    font-size: 42px;
    margin-bottom: 32px;
    color: #2d112b; }
  .profile__logo {
    position: absolute;
    font-size: 56px;
    border: 1px solid;
    width: 100px;
    padding: 0 0 15px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    color: #fff;
    bottom: 60px; }

.contact-title {
  font-size: 42px;
  margin: 20px;
  text-align: center; }

.footer__contact {
  background: #47ddbc;
  width: 100%;
  position: absolute; }
.footer__email {
  margin-top: 15px;
  text-align: center; }
  .footer__email a {
    color: #fff;
    font-size: 28px;
    margin: 20px;
    width: 100%;
    text-decoration: none;
    font-style: italic; }
.footer__social {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 35px;
  /* Icons */ }
  .footer__social a {
    color: #fff;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-family: fontawesome;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 28px;
    font-size: 22px;
    padding-top: 12px;
    margin: 0 2px;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased; }
    .footer__social a:hover span {
      bottom: 50px;
      visibility: visible;
      opacity: 1; }
    .footer__social a span {
      color: #666;
      position: absolute;
      font-family: sans-serif;
      bottom: 0;
      left: -25px;
      right: -25px;
      padding: 5px 7px;
      z-index: -1;
      font-size: 14px;
      border-radius: 2px;
      background: #fff;
      visibility: hidden;
      opacity: 0;
      -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .footer__social a span:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        position: absolute;
        bottom: -5px;
        left: 40px; }
    .footer__social a:nth-of-type(1):before {
      content: '\f09b'; }
    .footer__social a:nth-of-type(2):before {
      content: '\f1cb'; }
    .footer__social a:nth-of-type(3):before {
      content: '\f08c'; }
    .footer__social a:nth-of-type(4):before {
      content: '\f16d'; }
    .footer__social a:nth-of-type(5):before {
      content: '\f230'; }

.cv {
  text-align: center; }
  .cv div {
    margin: 20px; }

.button {
  padding: 12px 25px;
  margin: 20px;
  border: solid 1px #47ddbc;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: #47ddbc;
  text-decoration: none; }
  .button:hover {
    background: #47ddbc;
    color: #fff; }

.container input, .container textarea {
  margin: 10px 0;
  width: 100%;
  border-radius: 3px;
  border: 0;
  padding: 8px 10px;
  background: #fff;
  outline: none;
  border: 1px solid transparent;
  color: #fff;
  transition: all .2s ease-in-out; }
  .container input:focus, .container textarea:focus {
    border: 1px solid #fff; }

.button-contact {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  background: #47ddbc;
  border: 1px #fff solid;
  color: #fff;
  outline: none; }
  .button-contact:hover, .button-contact:active {
    background: #fff;
    color: #47ddbc; }

.shadow-effect {
  position: relative;
  z-index: 99;
  margin: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

::-webkit-input-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff; }

/*# sourceMappingURL=main.css.map */
