@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

::selection {
  background: $p;
  color: $white;
}
::-moz-selection {
  background: $p;
  color: $white;
}

body{
    font-family:'Open Sans Condensed', sans-serif;
    margin:0;
    height: 200vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:$color;
}

textarea{ resize: none }

.card {
  background-color: #f5f5f5;
}

.video_card{
  background-color: #f5f5f5;
  margin: 20px;
  margin-top: 40px;
  position: inherit;
  z-index: 9;
}


section {
  background: #f9f9f9;
}

.home{
    position:relative;
    width:100hv;
    height:100vh;
    background:url('.././assets/blur.jpg') no-repeat;
    background-size:cover;
    &__image{
        width:150px;
        height:150px;
        position:absolute;
        border-radius:50%;
        left:50%;
        top:50%;
        margin-left:-75px;
        margin-top:-150px;
        background:url('https://avatars0.githubusercontent.com/u/11232570?v=3&u=6e3c4117498be10c0eb2d6e5638678d06bf6cd28');
        -webkit-filter:grayscale(100%);
        filter:grayscale(100%);
        transition: all .8s;
        border:5px solid $white;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        &:hover{
            -webkit-filter:grayscale(0%);
            filter:grayscale(0%);
        }
    }
}

.skills{
  display:flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height:201px;
  border-bottom:1px solid;
  .skill{
    margin:10px;
    padding:5px;
    border:solid 1px $p;
    transition: all .2s ease-in-out;
    cursor:default;
    box-shadow:11px 8px 38px rgba(80, 80, 80, .1);
    color:$white;
    background:$p;
    border-radius:1;
    width:70px;
    text-align:center;
  }
}

.skill-10  { margin-top: 180px!important; height:20px; }
.skill-20  { margin-top: 160px!important; height:40px; }
.skill-30  { margin-top: 140px!important; height:60px; }
.skill-40  { margin-top: 120px!important; height:80px; }
.skill-50  { margin-top: 100px!important; height:100px; }
.skill-60  { margin-top: 80px!important; height:120px; }
.skill-70  { margin-top: 60px!important; height:140px; }
.skill-80  { margin-top: 40px!important; height:160px; }
.skill-90  { margin-top: 20px!important; height:180px; }
.skill-100 { margin-top: 0px !important; height:200px;}

@media (max-width: 600px) {
  .skills{
    height:auto;
    display:inherit;
    border-bottom:0;
    .skill{
      text-align:right;
      box-shadow:none;
      margin-top:0!important;
      height:auto!important;
    }
  }
  .skill-10  { width: 10% !important; }
  .skill-20  { width: 20% !important; }
  .skill-30  { width: 30% !important; }
  .skill-40  { width: 40% !important; }
  .skill-50  { width: 50% !important; }
  .skill-60  { width: 60% !important; }
  .skill-70  { width: 70% !important; }
  .skill-80  { width: 80% !important; }
  .skill-90  { width: 90% !important; }
  .skill-100 { width: 100%!important; }
}

.top-button{
  position:absolute;
  bottom:0px;
  margin:5px;
  color:$white;
  outline:none;
  right:10px;
  width:40px;
  height:40px;
  border-radius:50%;
  background:transparent;
  margin:10px;
  border:0;
  // border:1px $white solid;
  transition: all .4s ease;
  &:hover{
    box-shadow:0px 8px 38px rgba(80, 80, 80, 0.4);
    background:$white;
    color:$p;
  }
}

#header {
  position: relative;
  width: 100%;
  height: 100vh;
  background:black;
  overflow: hidden;
  z-index: -2;
  .header-bg {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('.././assets/bg.gif') center;
    background-size: cover;
  }
  .title {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
    display: table;
    h1 {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

nav{
    display:none;
}

.profile{
  color:$white;
  position:absolute;
  margin:10px;
  margin-top:40px;
  width:100%;
  height:100vh;
  &__name{
    font-size:42px;
    margin-bottom:32px;
    color:#2d112b;
    position: fixed;
  }
  &__logo{
    position:absolute;
    font-size: 56px;
    border: 2px solid;
    width: 100px;
    padding: 0 0 15px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    color: #fff;
    background:$p2;
    bottom:60px;
    &:hover {
      background: $p;
      border: $p 2px solid;
    }
  }
}

#octocat{
  width:120px;
  height:50px;
  //top: 0;
  background: url('../assets/github.png') no-repeat;
  background-size: 120px auto;
  position:absolute;
  bottom:0;
  left:50%;
  margin-left:-60px;
  transition: all .2s ease-in-out;
  &:hover{
    height:90px;
  }
}

.contact-title{
  font-size:42px;
  // margin:20px;
  text-align:center;
}

.footer{
  &__contact{
    background:$p;
    width:100%;
    padding-bottom:80px;
    position:absolute;
  }
  &__email{
    margin-top:15px;
    text-align:center;
    a{
      color:$white;
      font-size:28px;
      margin:20px;
      width:100%;
      text-decoration:none;
      font-style:italic;
    }
  }
  &__social {
    display: inline-block;
    position:relative;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    margin-top:35px;
    /* Icons */
    a {
      color:#fff;
      border-radius:4px;
      text-align:center;
      text-decoration:none;
      font-family:fontawesome;
      position: relative;
      display: inline-block;
      width:40px;
      height:28px;
      font-size:38px;
      padding-top:12px;
      margin:0 15px;
      -o-transition:all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;
       -webkit-font-smoothing: antialiased;
      // Icons content
      &:nth-of-type(1):before { content:'\f09b'; }
      &:nth-of-type(2):before { content:'\f1cb'; }
      &:nth-of-type(3):before { content:'\f08c'; }
      &:nth-of-type(4):before { content:'\f16d'; }
      &:nth-of-type(5):before { content:'\f230'; }
    }
  }
}

.cv{
  text-align:center;
  padding-top: 20px;
  margin:20px 10px 40px;
}

.button{
  padding:12px 50px;
  margin:20px;
  border:solid 1px $p;
  cursor:pointer;
  transition: all .2s ease-in-out;
  color:$p;
  border-radius:80px;
  text-decoration:none !important;
  text-transform: uppercase;
  font-weight: 800;
  &:hover{
    background:$p;
    color:$white;
    box-shadow:0px 8px 38px rgba(80, 80, 80, 0.4);
  }
}

.container{
  input, textarea{
    margin:10px 0;
    width:100%;
    border-radius:3px;
    border:0;
    padding:8px 10px;
    background:$white;
    outline:none;
    border: 1px solid transparent;
    color:$color;
    transition: all .2s ease-in-out;
    &:focus{
      border: 1px solid #fff;
    }
  }
}

.button-contact{
  float:right;
  margin-top:0;
  margin-bottom:0;
  background:$p;
  border:1px $white solid;
  color:$white;
  outline:none;
  &:hover, &:active{
    background:$white;
    color:$p;
  }
}

.shadow-effect{
  position:relative;
  z-index:99;
  margin:0;
  box-shadow:0 19px 38px rgba(80,80,80,0.30), 0 15px 12px rgba(80,80,80,0.22);
}

@media (min-width: 991px) {
  .container-form{
    max-width:800px;
  }
}

$color3d-1: #1f6354;
$color3d-2:#4aa28f;

.flex-center {
  width: 100%;
  min-height: 50vh;
  
  background: #fff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-3d {
  padding: 10px;
  color: #000;
  &:hover {
    animation: icon3d 200ms infinite;
  }
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px $color3d-1, -5px -6px $color3d-2;
  }
  25% {
    text-shadow: -5px -6px $color3d-1, 5px 4px $color3d-2;
  }
  50% {
    text-shadow: 5px -4px $color3d-1, -8px 4px $color3d-2;
  }
  75% {
    text-shadow: -8px -4px $color3d-1, -5px -4px $color3d-2;
  }
  100% {
    text-shadow: -5px 0 $color3d-1, 5px -4px $color3d-2;
  }
}

// Timeline

$primary-text: #333c4e;
$gray-text: #7e8890;

header {
  background: #fff;
  
  .mdl-grid {
    padding: 1rem 2rem;
  }
}

.kb {
  &-title {
    color: $primary-text;
    font-size: 4.5rem;
    font-weight: 200;
    margin: 0;
  }
  
  &-subtitle {
    color: $gray-text;
    font-size: 1.5rem;
  }
  
  &-logo {
    width: 12rem;
  }
  
  &-date {
    font-weight: bold;
    text-align: right;
    position: absolute;
    right: 35px;
    top: -5px;
  }
  
  &-timeline {
    padding-top: 0;
    padding-bottom: 0;
    
    .mdl-cell {
      color: #393E46;
      margin: 0;
    }
  }
  
  &-connector {
    &__dot {
      width: 1rem;
      height: 1rem;
      border-radius: .5rem;
      background-color: $p;
      margin: 0 0 0 auto;
      position: relative;
      z-index: 2;
    }  
    
    &__line {
      width: 3px;
      height: 8rem;
      background: #ccc;
      margin: 0 0 0 auto;
      z-index: 1;
      position: absolute;
      right: 18px;
    }
  }
  
  &-card {
    background-color: #fff;
    padding: 1rem;
    width: 70%;
    box-shadow: 5px 4px 38px rgba(0, 0, 0, 0.01);
    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      background: #fff;
      left:5px;
      border-radius: 5px;
      margin-top: 15px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    text-align: center;
    .bk-icon{
      width: 32px;
      height: 32px;
    }
  }
}

.timeline {
  padding-bottom: 20px; 
}

.timeline-row{
  padding-top: 1.5rem;
  margin:0;
  .timeline-item{
    margin-top: 30px;
  }
}