@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

*{
  box-sizing: border-box;
}

html,
body{
  margin:0;
  background-color: #FEDCC8;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow-y:hidden;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
  transition: all .8s ease-in-out;
}

.parallax::-webkit-scrollbar-track{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: red;
	display:none;
}
.parallax::-webkit-scrollbar{
  width: 12px;
  display:none;
}

.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  img{
    display: block;
    position: absolute;
    bottom: 0;
    transition: all .8s ease-in-out;
  }
}

.night-parallax{
  background: #c1c1c1;
}

.night{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.parallax__cover{
  background: #2D112B;
  position: absolute;
  height:2000px;
  top: 100%;
  z-index: 2;
  width: 100%;
  transition: all .8s ease-in-out;
}

.parallax__cover__night{
  background:#191919;
}

.content{
  position:absolute;
  width:100%;
  padding:20px;
  top:100%;
  background:#fff;
}

$parallax__layers: 6;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}

h1{
  font-family: 'Poiret One', cursive;
}

.app-header{
  position:fixed;
  width:100%;
  padding:0 10px;
  z-index:99;
  transition: all 0.2s ease-in-out;
  ul{
    display: flex;
    list-style: none;
    border-bottom:solid 2px transparent;
    li{
      padding: 10px;
      font-family: 'Poiret One', cursive;
      border-bottom:solid 1px transparent;
      a{
        color:#2D112B;
        font-size:22px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .6s ease-in-out;
      }
      &:hover{
        border-color:#2D112B;
      }
    }
  }
}

.app-header-active{
  background:#000;
  ul{
    li{
      a{
        color:#fff;
      }
      &:hover{
        border-color:#fff;
      }
    }
  }
}

.logo{
  position:absolute;
  font-size: 56px;
  border: 1px solid;
  width: 100px;
  padding: 0 0 15px;
  left:50%;
  margin-left:-50px;
  text-align:center;
  color:#fff;
  margin-top:-200px;
}

.project{
  img{
    width:100%;
  }
}

ul{
  margin: 0;
  padding: 0;
}
// About
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.about{
  position:absolute;
  font-size:50px;
  border-right:1px solid black;
  width:21ch;
  margin:2em 1em;
  padding:0px 15px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 3s steps(21, end),
   blink-caret .5s step-end infinite alternate;
  .small{
     font-size:26px;
     margin:0 10px;
  }
}

// Skkils
.skills-diagram {
  font-size: 16px;
  font-weight: bold;
  text-align:center;
  dl{
    position: relative;
    max-width: 30%;
    left: 50%;
    dd{
      display: none;
    }
  }
  dt {
    display: inline-block;
    vertical-align: top;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    -webkit-transform: scale(1.2);
  	-moz-transform: scale(1.2);
  	-o-transform: scale(1.2);
  	-ms-transform: scale(1.2);
  	transform: scale(1.2);
    width: 2em;
    height: 2em;
    line-height: 2em;
  }
}


.skills-diagram dt:hover {
	transition: all 0.2s ease-in-out;
  -webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

/* Support vertical mode */
.skills-diagram-vertical dt {
  display: block;
  margin: .25em auto;
}

/* Provide 10 different sizes */
.skills-diagram .skill-2 {
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: rgba(201, 155, 129, .3);
  border-color: rgba(201, 155, 129, 1);
  color: rgba(201, 155, 129, 1);
}
.skills-diagram .skill-3 {
  vertical-align: middle;
  width: 3em;
  height: 3em;
  line-height: 3em;
  background-color: rgba(138, 138, 140, .3);
  border-color: rgba(138, 138, 140, 1);
  color: rgba(138, 138, 140, 1);
}
.skills-diagram .skill-4 {
  width: 4em;
  height: 4em;
  line-height: 4em;
  background-color: rgba(234, 112, 97, .3);
  border-color: rgba(234, 112, 97, 1);
  color: rgba(234, 112, 97, 1);
}
.skills-diagram .skill-5 {
  vertical-align: bottom;
  width: 5em;
  height: 5em;
  line-height: 5em;
  background-color: rgba(109, 182, 173, .3);
  border-color: rgba(109, 182, 173, 1);
  color: rgba(109, 182, 173, 1);
}
.skills-diagram .skill-6 {
  vertical-align: top;
  width: 6em;
  height: 6em;
  line-height: 6em;
  background-color: rgba(195, 192, 100, .3);
  border-color: rgba(195, 192, 100, 1);
  color: rgba(195, 192, 100, 1);
}
.skills-diagram .skill-7 {
  width: 7em;
  height: 7em;
  line-height: 7em;
  background-color: rgba(214, 89, 102, .3);
  border-color: rgba(214, 89, 102, 1);
  color: rgba(214, 89, 102, 1);
}
.skills-diagram .skill-8 {
  vertical-align: bottom;
  width: 8em;
  height: 8em;
  line-height: 8em;
  background-color: rgba(46, 138, 75, .3);
  border-color: rgba(46, 138, 75, 1);
  color: rgba(46, 138, 75, 1);
}
.skills-diagram .skill-9 {
  width: 11em;
  height: 11em;
  line-height: 11em;
  background-color: rgba(177, 18, 2, .3);
  border-color: rgba(177, 18, 2, 1);
  color: rgba(177, 18, 2, 1);
}
.skills-diagram .skill-10 {
  width: 14em;
  height: 14em;
  line-height: 14em;
  background-color: rgba(81, 112, 144, .3);
  border-color: rgba(81, 112, 144, 1);
  color: rgba(81, 112, 144, 1);
}

// test center div css
.center-div{
  width:300px;
  height:300px;
  background:red;
  position:relative;
  left:50%;
  margin-left:-150px;
  display:none;
}