*{
  box-sizing: border-box;
}

html,
body{
  margin:0;
  background-color: #FEDCC8;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  img{
    display: block;
    position: absolute;
    bottom: 0;
  }
}

.parallax__cover{
  background: #2D112B;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
}

$parallax__layers: 6;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}

.app-header{
  position:fixed;
  width:100%;
  padding:10px;
  z-index:99;
  transition: all 0.2s ease-in-out;
  ul{
    display: flex;
    list-style: none;
    border-bottom:solid 2px transparent;
    li{
      padding: 10px;
      transition: all 0.2s ease-in-out;
      a{
        color:#fff;
        font-size:22px;
        text-decoration: none;
        text-transform: uppercase;
      }
      &:hover{
        border-bottom:solid 2px;
      }
    }
  }
}

.app-header-active{
  background:#25aa25;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

ul{
  margin: 0;
  padding: 0;
}
// About
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.about{
  position:absolute;
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em; 
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
		overflow: hidden;
		-webkit-animation: typing 5s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}