.talks { padding: 1px }

.content {
  padding-bottom:10px;
  &__title {
    font-size: 42px;
    margin: 0 20px 20px;
    text-align: center;
    color:$color;
    font-weight: bolder;
    text-transform: uppercase;
    &:before {
      position: absolute;
      content: '';
      width: 40px;
      height: 2px;
      background: $p;
      left: 50%;
      margin-left: -20px;
      margin-top: 62px
    }
  }
}