@keyframes fall{
  1% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  99% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.term {
  font-family: 'AndaleMono', monospace;
  .cursor{
    -webkit-animation: fall 1s linear infinite;
    -moz-animation: fall 1s linear infinite;
    animation: fall 1s linear infinite;
  }
}
