$white:#fff;
$black:#38393e;

//principal color
$primary: #47ddbc;
$secondary: #264750;
$image-overlay:rgba(71, 221, 188, .7);
$color:#969696;

//menu variables
$menu-color: white;
$snappy : cubic-bezier(0.694,  0.048, 0.335, 1.000);

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);
