$white:#fff;
$green:rgb(0, 221, 102);
$green-opacity:rgba(0, 221, 102, .3);
$black:#38393e;

//principal color
$p:#47ddbc;
$p2:rgba(71, 221, 188, .2);
$image-overlay:rgba(71, 221, 188, .7);
$color:#969696;

//menu variables
$bg : #74F3C5;
$menu-color: white;
$snappy : cubic-bezier(0.694,  0.048, 0.335, 1.000);

// Colors
$color-1: #2c3e50;
$color-2: #3498db;
$color-3: #2ecc71;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);
