* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  background-color: #FEDCC8; }

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0; }

.parallax__cover {
  background: #2D112B;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2; }

.parallax__layer__0 {
  transform: translateZ(-300px) scale(4); }

.parallax__layer__1 {
  transform: translateZ(-250px) scale(3.5); }

.parallax__layer__2 {
  transform: translateZ(-200px) scale(3); }

.parallax__layer__3 {
  transform: translateZ(-150px) scale(2.5); }

.parallax__layer__4 {
  transform: translateZ(-100px) scale(2); }

.parallax__layer__5 {
  transform: translateZ(-50px) scale(1.5); }

.parallax__layer__6 {
  transform: translateZ(0px) scale(1); }

.app-header {
  position: fixed;
  width: 100%;
  padding: 10px;
  z-index: 99;
  transition: all 0.2s ease-in-out; }
  .app-header ul {
    display: flex;
    list-style: none;
    border-bottom: solid 2px transparent; }
    .app-header ul li {
      padding: 10px;
      transition: all 0.2s ease-in-out; }
      .app-header ul li a {
        color: #fff;
        font-size: 22px;
        text-decoration: none;
        text-transform: uppercase; }
      .app-header ul li:hover {
        border-bottom: solid 2px; }

.app-header-active {
  background: #25aa25;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

ul {
  margin: 0;
  padding: 0; }
