@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  background-color: #FEDCC8;
  font-family: 'Open Sans Condensed', sans-serif; }

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
  transition: all .8s ease-in-out; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
    transition: all .8s ease-in-out; }

.night-parallax {
  background: #464646; }

.night {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.parallax__cover {
  background: #2D112B;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
  width: 100%; }

.parallax__layer__0 {
  transform: translateZ(-300px) scale(4); }

.parallax__layer__1 {
  transform: translateZ(-250px) scale(3.5); }

.parallax__layer__2 {
  transform: translateZ(-200px) scale(3); }

.parallax__layer__3 {
  transform: translateZ(-150px) scale(2.5); }

.parallax__layer__4 {
  transform: translateZ(-100px) scale(2); }

.parallax__layer__5 {
  transform: translateZ(-50px) scale(1.5); }

.parallax__layer__6 {
  transform: translateZ(0px) scale(1); }

.app-header {
  position: fixed;
  width: 100%;
  padding: 10px;
  z-index: 99;
  transition: all 0.2s ease-in-out; }
  .app-header ul {
    display: flex;
    list-style: none;
    border-bottom: solid 2px transparent; }
    .app-header ul li {
      padding: 10px;
      transition: all 0.2s ease-in-out; }
      .app-header ul li a {
        color: #fff;
        font-size: 22px;
        text-decoration: none;
        text-transform: uppercase; }
      .app-header ul li:hover {
        border-bottom: solid 2px; }

.app-header-active {
  background: #25aa25;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

ul {
  margin: 0;
  padding: 0; }

@-webkit-keyframes typing {
  from {
    width: 0; } }

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent; } }

.about {
  position: absolute;
  font-size: 50px;
  border-right: 1px solid black;
  width: 21ch;
  margin: 2em 1em;
  padding: 0px 15px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 3s steps(21, end), blink-caret 0.5s step-end infinite alternate; }
  .about .small {
    font-size: 26px;
    margin: 0 10px; }

.skills-diagram {
  font-size: 16px;
  font-weight: bold;
  text-align: center; }
  .skills-diagram dl {
    position: relative;
    max-width: 30%;
    left: 50%; }
    .skills-diagram dl dd {
      display: none; }
  .skills-diagram dt {
    display: inline-block;
    vertical-align: top;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    width: 2em;
    height: 2em;
    line-height: 2em; }

.skills-diagram dt:hover {
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

/* Support vertical mode */
.skills-diagram-vertical dt {
  display: block;
  margin: .25em auto; }

/* Provide 10 different sizes */
.skills-diagram .skill-2 {
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: rgba(201, 155, 129, 0.3);
  border-color: #c99b81;
  color: #c99b81; }

.skills-diagram .skill-3 {
  vertical-align: middle;
  width: 3em;
  height: 3em;
  line-height: 3em;
  background-color: rgba(138, 138, 140, 0.3);
  border-color: #8a8a8c;
  color: #8a8a8c; }

.skills-diagram .skill-4 {
  width: 4em;
  height: 4em;
  line-height: 4em;
  background-color: rgba(234, 112, 97, 0.3);
  border-color: #ea7061;
  color: #ea7061; }

.skills-diagram .skill-5 {
  vertical-align: bottom;
  width: 5em;
  height: 5em;
  line-height: 5em;
  background-color: rgba(109, 182, 173, 0.3);
  border-color: #6db6ad;
  color: #6db6ad; }

.skills-diagram .skill-6 {
  vertical-align: top;
  width: 6em;
  height: 6em;
  line-height: 6em;
  background-color: rgba(195, 192, 100, 0.3);
  border-color: #c3c064;
  color: #c3c064; }

.skills-diagram .skill-7 {
  width: 7em;
  height: 7em;
  line-height: 7em;
  background-color: rgba(214, 89, 102, 0.3);
  border-color: #d65966;
  color: #d65966; }

.skills-diagram .skill-8 {
  vertical-align: bottom;
  width: 8em;
  height: 8em;
  line-height: 8em;
  background-color: rgba(46, 138, 75, 0.3);
  border-color: #2e8a4b;
  color: #2e8a4b; }

.skills-diagram .skill-9 {
  width: 11em;
  height: 11em;
  line-height: 11em;
  background-color: rgba(177, 18, 2, 0.3);
  border-color: #b11202;
  color: #b11202; }

.skills-diagram .skill-10 {
  width: 14em;
  height: 14em;
  line-height: 14em;
  background-color: rgba(81, 112, 144, 0.3);
  border-color: #517090;
  color: #517090; }

.center-div {
  width: 300px;
  height: 300px;
  background: red;
  position: relative;
  left: 50%;
  margin-left: -150px; }
