<nav-menu></nav-menu>

<div id="scroll-animate">
  <a href="https://github.com/JoaoAntonioMaruti/joaoantoniomaruti.github.io" target="_blank">
      <img class="fork-git" src="./img/fork-ribbon.png">
  </a>
  <div id="scroll-animate-main">
    <div class="wrapper-parallax">
      <header>
        <div class="mouse">
          <div class="scroll"></div>
        </div>
        <div class="me">
            <div class="name">João Antonio Maruti Milagres</div>
            <div class="about">
                Full-stack Web developer /
                Mobile
            </<div>
        </div>
      </header>
        <section class="content section-timeline">
          <!--<h2 class="h2-timeline">Timeline</h2>-->
          <ul class="timeline">
            <li class="event">
              <h3>Sobre</h3>
            </li>
            <li class="event">
              <h3>Projetos</h3>
            </li>
            <li class="event">
              <h3>Formação</h3>
            </li>
            <li class="event">
              <h3>Skills</h3>
            </li>
          </ul>
          <div class="info">
              
          </div>
        </section>
      <footer>
        <p class="mail">
            {{me.email}}
        </p>
        <div class="socials">
            <div class="social-icon waves-effect waves-light" ng-repeat="social in socials">
                <a href="{{social.link}}" target="_blank" ng-class="social.icon"></a>
            </div>
        </div>
      </footer>
    </div>
  </div>
</div>